* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #111;
  color: white;
}
.cursor {
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border-radius: 50%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  mix-blend-mode: difference;
}
main {
  height: 100%;
  width: 100%;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .image {
    height: 60vh;
    width: 60vw;
    position: relative;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .overlay{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
  }
}
