* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

.string {
  height: 8rem;
  width: 100%;
}
.string svg {
  background-color: red;
}